<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body style="background-color:olive;">
<h1 style="font-size:38;color:magenta;text-align:center;">Django Virtual {{obj}} </h1>
<!--<p style="text-align:left;color:brown;">The virtual environment is an environment which is used by-->
<!--  Django to execute an application. It is recommended to create and execute a Django-->
<!--  application in a separate environment. Python provides a tool virtualenv to create an-->
<!--  isolated Python environment. We will use this tool to create a virtual environment-->
<!--  for our Django application.-->
<!--</p>-->
<form action="all/"  method="get">
    <input type="text"  name="num1" placeholder="number1">
    <input type="text"  name="num2" placeholder="number2">
    <input type="submit">
</form>
</body>
</html>